@charset "UTF-8";

a,
button {
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 1;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  height: 38px;
  overflow: hidden;
  border-radius: 4px;
  padding: 0 15px;
  text-transform: uppercase;
  min-width: 140px;

  &.btn-primary {
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
      color: $primary;
    }
  }

  &.btn-secondary {
    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: $secondary;
    }
  }

  @include media-breakpoint-up(xl) {
    height: 43px;
    min-width: 156px;
    font-size: 12px;
  }

  @include media-breakpoint-up(xxl) {
    height: 60px;
    min-width: 220px;
    font-size: 16px;
  }
}

.link-arrow {
  display: inline-flex;
  align-items: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;

  img {
    display: block;
    margin-left: 8px;
    width: 15px;
    height: auto;
  }

  &:hover {
    color: $black;
  }

  @include media-breakpoint-up(xl) {
    font-size: 12px;

    img {
      margin-left: 9px;
      width: 17px;
    }
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;

    img {
      margin-left: 10px;
      width: 24px;
    }
  }
}
