.before-donate {
  display: none;
  padding: 40px 10px;

  .block-header {
    border-top: $border;
    border-bottom: $border;
    padding: 24px 0 28px;

    h2 {
      margin: 0 0 30px;

      img {
        display: block;
        width: 35px;
        height: auto;
        margin: 30px 0 0;
      }
    }

    .btn-toggler {
      background: none;
      border: none;
      padding: 0;
      font-size: 13px;
      font-weight: 300;
      line-height: 23px;
    }
  }

  .title {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
  }

  .col-left {
    border-bottom: $border;
    padding: 0 0 39px;
  }

  .form {
    .title {
      margin: 0 0 30px;
    }
    .form-box {
      padding: 39px 0 0;

      & + .form-box {
        padding-top: 50px;
      }

      label {
        cursor: pointer;
        display: block;
        font-size: 10.911px;
        font-weight: 700;
        line-height: 15.263px;
        text-transform: uppercase;
        margin-left: 11px;

        & + label {
          margin-left: 25px;
        }

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 38px;
          border-radius: 3.816px;
          border: 1px solid $black;
          transition: all 0.2s;
        }

        input {
          display: none;

          &:checked {
            & + span {
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }
  }

  .col-right {
    padding: 39px 0 0;

    .title {
      margin: 0 0 25px;
    }

    ul {
      margin: 0 30px 0 0;
      padding: 0;
      list-style: none;
      font-size: 12px;
      font-weight: 200;
      line-height: 22px;

      li {
        margin: 0 0 12px;

        &:last-child {
          margin: 0;
        }

        strong {
          font-weight: 700;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    .block-header {
      h2 {
        display: flex;

        img {
          margin: 0 0 0 20px;
        }
      }
    }

    .col-wrapper {
      display: flex;
      padding: 28px 0;
    }

    .col-left {
      width: 50%;
      border-bottom: none;
      padding: 0;
      border-right: $border;
    }

    .form {
      .form-box {
        padding: 0;

        & + .form-box {
          padding-top: 42px;
        }
      }
    }

    .col-right {
      width: 50%;
      padding: 0 0 0 20px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 29px 10px;

    .block-header {
      display: flex;
      align-content: center;
      justify-content: space-between;
      padding: 17px 0;

      h2 {
        font-size: 34px;
        line-height: 42px;
        margin: 0;
      }
    }

    .col-left {
      width: 41.6%;
    }

    .col-right {
      width: auto;
      padding: 0 0 30px 9%;

      .title {
        margin: 0 0 14px;
      }

      ul {
        max-width: 496px;
        font-size: 17px;
        line-height: 27px;
      }
    }

    .form {
      .title {
        margin: 0 0 21px;
      }

      .form-box {
        label {
          font-size: 12px;
          margin-left: 0;

          & + label {
            margin-left: 45px;
          }

          span {
            width: 157px;
            height: 43px;
            border-radius: 4.2px;
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 29px 56px;
  }

  @include media-breakpoint-up(xxl) {
    padding: 37px 80px 0;

    .title {
      font-size: 24px;
      line-height: 32px;
    }

    .block-header {
      padding: 24px 0;

      h2 {
        font-size: 48px;
        line-height: 60px;

        img {
          width: 49px;
          margin-left: 11px;
        }
      }

      .btn-toggler {
        font-size: 18px;
      }
    }

    .col-wrapper {
      padding: 39px 0;
    }

    .col-left {
      width: 41.6%;
    }

    .col-right {
      padding: 0 0 36px 9%;

      .title {
        margin: 0 0 20px;
      }

      ul {
        max-width: 700px;
        font-size: 24px;
        line-height: 42px;

        li {
          margin: 0 0 14px;
        }
      }
    }

    .form {
      .title {
        margin: 0 0 30px;
      }

      .form-box {
        & + .form-box {
          padding-top: 60px;
        }
        label {
          font-size: 16px;

          & + label {
            margin-left: 65px;
          }

          span {
            width: 220px;
            height: 60px;
            border-radius: 6px;
            border-width: 2px;
          }
        }
      }
    }
  }
}
