.block-gallery {
  padding: 30px 10px 34px;

  .section-header {
    border-top: 2px solid $black;
    padding: 16px 0 0;
    margin: 0 0 24px;
    text-align: center;

    h2 {
      margin: 0;
    }
  }

  .link-box {
    padding: 30px 0 0;
    text-align: center;
  }

  .gallery-slider {
    position: relative;
    margin: 0 -10px;

    .swiper {
      padding: 0 9.375vw;

      .swiper-slide {
        transform: scale(0.87);
        opacity: 0.5;
        transition: all 0.3s;

        &.swiper-slide-active {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    a[data-fancybox] {
      display: block;
      @include img-abs-container(100%);
    }
  }

  @include media-breakpoint-up(md) {
    .gallery-slider {
      .swiper {
        padding: 0 13vw;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .section-header {
      border-top: none;
      padding: 0;
      margin: 0 0 28px;
    }

    .link-box {
      text-align: right;
    }

    .gallery-slider {
      width: 800px;
      margin: auto;
      position: relative;

      .swiper {
        padding: 0 200px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 43px;
        height: 43px;

        &.swiper-button-next {
          background: url(../images/icons/slider-arrow-right.svg) 50% / cover no-repeat;
          right: -70px;
        }

        &.swiper-button-prev {
          background: url(../images/icons/slider-arrow-left.svg) 50% / cover no-repeat;
          left: -70px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 42px 57px 28px;

    .link-box {
      padding: 48px 0 0;
    }

    .gallery-slider {
      width: auto;
      padding: 0 86px;

      .swiper {
        padding: 0 255px;

        .swiper-slide {
          transform: scale(0.7);
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        &.swiper-button-next {
          right: 0;
        }

        &.swiper-button-prev {
          left: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 60px 80px 34px;

    .section-header {
      margin: 0 0 40px;
    }

    .link-box {
      padding: 67px 0 0;
    }

    .gallery-slider {
      padding: 0 122px;

      .swiper {
        padding: 0 360px;
      }

      .swiper-button-next,
      .swiper-button-prev {
        width: 61px;
        height: 61px;
      }
    }
  }
}
