@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-bold-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-light-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-medium-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-regular-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-thin-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-thin-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "e-ukraine_head";
  src: url("../fonts/e-ukrainehead-ultralight-webfont.woff2") format("woff2"), url("../fonts/e-ukrainehead-ultralight-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
