// Fonts
$font-family-base: "pressio", sans-serif;
$font-family-condensed: "pressio-condensed", sans-serif;
$font-family-compressed: "pressio-compressed", sans-serif;

// Colors
$black: #000;
$white: #fff;
$light: #faf6f0;
$dark: #333;

$theme-beige: #ffeacc;
$theme-purple: #eae6ff;
$theme-blue: #d9f2ff;

$primary: #69bd3b;
$darkGreen: #003d00;
$lightGreen: #f0f8eb;

$gray: #3d3d3d;

$line: #e5e5e5;
$lineDark: #484848;

// Container

$content-max: 1740px;
$content-max-narrow: 1740px;
